a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

p {
    font-size: 18px;
    text-align: center;
}

a.signOut {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 550px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

input{
    background: #fff;
    justify-content: center;
    display: flex;
    margin: 20px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-max-size: 20px;
}

.hidden {
    display:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.inputExp {
    display: flex;
    margin-left: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.description {
    width: 450px;
    height: 200px;
}

#experience {
    width: 100px;
    height: 30px;
}
button {
    height: 30px;
    width: 30px;
    margin-top: 20px;
    background: #fff;
    justify-content: center;
    display: flex;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button.save {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 50px;
    text-align: center;
}
h5.h5 {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 0;
}